@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&family=Pacifico&display=swap');

h1 {
    font-family: Pacifico, "Palatino Linotype", Georgia, serif;
}

h2 {
    font-family: Pacifico, "Palatino Linotype", Georgia, serif;

}

body {
    width: 50%;
    margin: auto;
}

#form1 {
    background-color: #d3d68c;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 3%;
}

#form2 {
    background-color: #542f2c;
    color: #fff;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 3%;
}

#headerForm2 {
    color: #f39809;
}

#form3 {
    background-color: #b20000;
    color: #ffffff;
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 3%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: #bd0008;
}

body {
    background-image: url("../img/bg-stars.gif");
}

p {
    font-family: Roboto, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

label {
    font-family: Roboto, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#sectionForm2, #sectionForm2 > input {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;

}

#form1 > input, #form1 > select {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 2%;
    background-color: #ffffff;
    border: 1px solid #868B17;
    border-radius: 3px;
}

#form2 > input, #form2 > select {
    margin-bottom: 5%;
    margin-top: 2%;
    background-color: #ffffff;
    border: 1px solid #F39708;
    border-radius: 3px;
}


#submit {
    font-family: Roboto, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #84881a;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 3%;
    margin-left: 750px;
}

textarea {
    width: 99%;
    margin-bottom: 3%;
}

#logo {
    width: 10%;
}